Task_3_Strings/.vs
Task_3_Strings/Task_3_Strings.sln
Task_3_Strings/Task_3_Strings/Task_3_Strings.csproj
Task_3_Strings/Task_3_Strings/App.config
Task_3_Strings/Task_3_Strings/Properties
Task_3_Strings/Task_3_Strings/obj
Task_3_Strings/Task_3_Strings/bin/Debug/Task_3_Strings.pdb
Task_3_Strings/Task_3_Strings/bin/Debug/Task_3_Strings.exe.config